@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;  
  scroll-behavior: smooth;
}
body{
  display: flex;
  min-height: 100vh;
  background: #9f5fdc;
  padding: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}
body::-webkit-scrollbar{
  width: 0;
}
header h1{
  margin-bottom: 30px;
}
.wrapper{
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.wrapper h1{
  color: #9f5fdc;
}
.wrapper h2{
  margin-bottom: 20px;
}
.wrapper p{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.wrapper button{
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background: #9f5fdc;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  border-radius: 5px;
}
.wrapper.op{
  padding-bottom: 80px;
}
.wrapper .script, .wrapper .result, .wrapper .error{
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0 5px 0;
  min-height: 24.4px;
}
.wrapper .script+p, .wrapper .result+p, .wrapper .error+p{
  margin-top:20px;  
}

.wrapper .script{
  background: #e3e3e3;
  white-space: nowrap;
  overflow-x: auto;
}
.wrapper .script::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.wrapper .result{
  background: #cb99fa;
}
.wrapper .error{
  background: #de5151;
}

.op button{
  position: absolute;
  right: 30px;
  bottom: 20px;
}



