@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;  
}
body{
  display: flex;
  min-height: 100vh;
  background: #9f5fdc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper{
  width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.wrapper h1{
  margin-bottom: 0px;
}
.wrapper h2{
  margin-bottom: 20px;
}
.wrapper p{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.wrapper .script, .wrapper .result{
  padding: 15px;
  border-radius: 10px;
}
.wrapper .script{
  background: #e3e3e3;
  margin: 20px 0 5px 0;
}
.wrapper .result{
  background: #cb99fa;
  margin-bottom: 40px;
}



